.py-1 {
	padding: 1rem 0rem;
}
.py-2 {
	padding: 2rem 0rem;
}
.py-3 {
	padding: 3rem 0rem;
}
.p-1 {
	padding: 1.5rem;
}
.p-2 {
	padding: 2rem;
}
.p-3 {
	padding: 3rem;
}
.my-1 {
	margin: 3rem 0;
}
.my-2 {
	margin: 6rem 0;
}
.my-3 {
	margin: 9rem 0;
}
.m-1 {
	margin: 3rem;
}
.m-2 {
	margin: 6rem;
}
.m-3 {
	margin: 9rem;
}
