$primary-color-light: #7ed56f;
$primary-color-medium: #55c57a;
$primary-color-dark: #28b485;

$blue-light-color: #4ce6eb;
$blue-dark-color: #36baee;

$teritary-color-light: rgba(253, 197, 92, 0.8);
$teritary-color-dark: rgba(250, 164, 4, 0.8);

$light-color: #f4f4f4;
$dark-color: #333;
$grey-color: #555;
$dark: #000;

$max-width: 1140px;
